/* News Portal blue */
.section-1 {
  background: #d51c5c;
  border-bottom: 0 none;
}
.section-2 {
  background: #FFF;
  border-top: 0 none;
}
.section-3{
    background:#ebebeb!important;
}
#block-search-form .container-inline, #search-block-form .container-inline {
	background: #FFFFFF;
	border: 1px solid #c9ced1;
}
#block-system-main-menu .menu li a.active-trail, #block-system-main-menu .menu li a.active{
    box-shadow: none!important;
    border-bottom:2px solid #d51c5c;
    border-radius:0;
    background:none;
    border-top:0;
}
#block-system-main-menu .menu li a{margin:3px 14px 6px 0!important;padding:0 2px;color:#4d4e4e;font-weight: normal!important;font-size:13px;}
#block-system-main-menu .menu li a.active-trail,
#block-system-main-menu .menu li a.active,
.view-breaking-news .view-header,
.quicktabs-wrapper .quicktabs-tabs .active a,
.views-field-comment-count a,
.views-field-term-node-tid a,
#block-system-main-menu .menu li a:hover {
	color: #4d4e4e !important;
}
#block-menu-menu-extra-menu h2 {display:none;}
#block-menu-menu-extra-menu ul li a{color:#FFF;font-size:12px;}
#block-menu-menu-extra-menu ul li{ float:left; display:inline;margin-right:10px;background:none;padding:10px 0 10px 0}
#block-menu-menu-extra-menu {float:left;width:70%;margin:0;padding:0}

.region-maintop, .region-above-content{margin: 20px 0 20px 0;}
.region-maintop #block-views-latest-headlines-block{
    display:none;
}
#flexslider-3 .flex-direction-nav
{display:none !important;}
.view-editor-s-choice .flexslider#flexslider-3{padding:0 !important;}
.view-editor-s-choice ul.slides li {
    margin-right: 40px;
}
#block-quicktabs-maintop{width:440px; float:right;}
#block-views-news-slider-block{}
/*Define the triggers*/


#footer {
    background: #242424;
    border-top: 0 none;
    float: left;
    padding:0;
    width: 100%;
}
#footer .region-footer{float:left; width:100%;}
#block-menu-menu-footer-menu{background:#ebebeb; width:100%; color:#252525;}
#block-menu-menu-footer-menu .menu li{background: none !important;}
#footer .content{ width:970px;    position:relative;    margin:0 auto; padding:10px 0;}
#footer .links-privacy-terms-wrapper{float:left; margin-top:20px; }
#footer .links-privacy-terms-wrapper a{color:#fff; font-weight:normal; text-decoration:none;}
#footer .content img{float: right;}

/* Styles for the new blocks added */
#block-views-healthcare-news-block{float:right;width:35%;}
#block-views-healthcare-news-block .flex-direction-nav{display:none;}

/* Styles specific - modified to theme */
body#body{background:#f0f3f6;}
#main-wrapper{width:100%; float:left;}
.region-maintop{background: #fff; box-shadow:0 5px 10px rgba(0,0,0,0.5); padding:20px 0;}
#main-wrapper .region-maintop,#main-wrapper .region-above-content/*,#main-wrapper #content*/{width:970px; margin:0 auto; position:relative;}
#content .section{float: left;}
#content .section .block{width:100%;}
#block-views-news-slider-block{width:60%;}
section.block h2, #block-views-editor-s-choice-block h2 {padding:10px 0; text-transform: none; font-size: 24px; color:#4d4e4e;}
#block-views-healthcare-news-block h2{
    background:url("/sites/all/themes/global_news/images/header-helthcare.png") no-repeat left top;
}
#block-views-editor-s-choice-block h2{ background:url("/sites/all/themes/global_news/images/header-pharma.png") no-repeat left top;}